$bg-color: #f2f6f9;
$table-bg-color: #fefefe;
$table-head-bg-color: #e1e8f2;
$table-border-color: #edeef2;
$hover-bg-color: #eae1db;
$hover-text-color: #000000;

@mixin mobile-xxs {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin mobile-s {
  @media (min-width: 400px) and (max-width: 768px) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin tablet-to-desktop {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

body {
  background-color: $bg-color;
}

.table-container {
  width: 99%;
  margin: 0 auto;
  padding: 0 15px;
}

.table {
  background-color: $table-bg-color;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.02);
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;

  &-row {
    display: grid;
    border-bottom: 2px solid $table-border-color;
    padding: 0 1.5rem;
    @include min-tablet {
      grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
    }
    @include tablet-to-desktop {
      grid-template-columns: 1fr 2fr 1fr;
    }

    th,
    td {
      padding: 1rem;
    }
  }

  &-head {
    background-color: $table-head-bg-color;
    @include desktop {
      display: none;
    }

    &-title {
      display: flex;
      align-items: center;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  &-body {
    .table-row {
      transition: 0.1s linear;
      transition-property: color, background;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: $hover-text-color;
        background-color: $hover-bg-color;
      }
    }

    &-text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &::before {
        margin-right: 1rem;
        font-weight: 600;
        text-transform: capitalize;
      }

      @include desktop {
        &::before {
          content: attr(data-title) " :";
        }
      }
      @include mobile-xxs {
        &::before {
        }
        &-name, &-country {
          &::before {
            display: none;
          }
        }
      }

      &-name, &-country {
        @include mobile-s {
          &::before {
            display: none;
          }
        }
      }

      &-name,
      &-country {
        @include min-tablet {
          &::before {
            display: none;
          }
        }
        @include tablet-to-desktop {
          grid-column: 1 / 2;
          flex-direction: column;
        }
      }


      &-distance,
      &-types,
      &-address {
        @include tablet-to-desktop {
          grid-column: 2/ 3;
        }
      }

      &-country {
        @include tablet-to-desktop {
          grid-column: 3/ -1;
        }
      }

      &-name,
      &-country {
        @include tablet-to-desktop {
          grid-row: 2;
        }
      }
    }
  }
}

.user-icon {
  width: 100%;
  max-width: 4rem;
  height: auto;
  margin-right: 1rem;

}

.icy-avatar {
  background-color: #1ab7c5;
}

.red-avatar {
  background-color: #d01e1e;
}

.yellow-avatar {
  background-color: #e7bb0d;
}

.green-avatar {
  background-color: #4bc71a;
}

.blue-avatar {
  background-color: #1a42c5;
}

.purple-avatar {
  background-color: #5810d5;
}

.pink-avatar {
  background-color: #ab16c2;
}

.table-body-text-country, .table-body-text-types, .table-body-text-address, .table-body-text-distance {
  margin: auto;
  text-align: center;
}

tr {
  cursor: pointer;
}

.table-head-title {
  margin: auto;
}